parameters:
    ignoreErrors:
        - "#Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition::children\\(\\)#"
        - '#Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.#'
#includes:
#    - vendor/thecodingmachine/phpstan-strict-rules/phpstan-strict-rules.neon
