<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Resources</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
      <directory>./var</directory>
    </exclude>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Graphql controllers bundle Test Suite">
      <directory>./Tests/</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DATABASE_URL" value="mysql://root:@127.0.0.1:3306/test_tdbmbundle"/>
    <env name="DATABASE_URL2" value="mysql://root:@127.0.0.1:3306/test_tdbmbundle2"/>
    <env name="DATABASE_URL_ROOT" value="mysql://root:@127.0.0.1:3306/"/>
  </php>
  <logging/>
</phpunit>
